# общие
.DS_Store
Thumbs.db
*.log
*.tmp

# Node/Vite (для FrontEnd, и позже для BackEnd/AI если там будет Node)
node_modules/
dist/
.build/
.cache/

# env-файлы
.env
.env.*
!.env.example

# редакторы/IDE
.vscode/*
!.vscode/extensions.json
.idea/
/parser/books.json
/parser/old_books2.jsonl
/parser/backup_books.jsonl
/parser/book_titles.txt
/parser/checkpoint.txt
/parser/old_books1.json
/parser/backup_books.jsonl
